[2020-08-03 16:39] jwtechdesign opened #12 ""Event Start Time" field displayed incorrectly"
When creating a "Virtual Meeting" or "Live Stream" (only 2 I tested at this point), the displayed "Start Time" does not match what is entered into the field itself - the displayed time is consistently 5 hours behind.

Tested on a local site, as well as the sandbox site (https://sandbox-carnation-std-virtual-y.openy.org).

![image](https://user-images.githubusercontent.com/32372465/89205790-e2beba0

[2020-08-05 08:16] hamrant commented on #12
From slack communication:
![Screenshot from 2020-08-05 11-15-09](https://user-images.githubusercontent.com/13733670/89388666-0106f000-d70d-11ea-9061-443fec89d11b.png)

@jwtechdesign can you try the cache clear? Maybe this can fix the problem without entities re-saving

[2020-08-27 17:09] froboy opened #21 "Zoom embeds do not support vanity urls"
https://github.com/ymcatwincities/openy_gated_content/blob/22fa2e359a91292fe2f1f5253304d7cbab30dfe6/js/gated-content/src/views/VirtualMeetingPage.vue#L152

As per [Zoom's guidelines on Vanity URLs](https://support.zoom.us/hc/en-us/articles/215062646-Guidelines-for-Vanity-URL-Requests) we should support subdomains for Zoom links `([\w-]*\.)?zoom\.us` should make it so that `zoom.us` and `ymca.zoom.

[2020-08-28 13:41] #21 closed

[2020-09-02 19:24] froboy opened #24 "Missing fields can cause videos listing and video page to be empty"
To recreate:
- Find a Virtual Y Video that shows on the main Virtual Y listing and observe the `Category` on the node.
- Delete that term from Structure > Taxonomy > Virtual YMCA Category
- Go to the Virtual Y application and observe "Videos not found." along with errors in the JS console.
![Virtual_YMCA___Shasta_Family_YMCA](https://user-images.githubusercontent.com/238201/92027286-f0f02980-ed27-

[2020-09-03 08:17] #24 closed

[2020-09-11 20:08] dwells-tn opened #29 "Drupal 9 Multiple Categories Don't Work in Drupal 9 Alpha"
**Issue:** [New multiple category just released in Virtual Y 0.14](https://openy.slack.com/archives/C01715RK630/p1599579042033300) are not yet present in Drupal 9 Sandbox.

**Steps to Reproduce:**

- Go to Virtual Video and add content type OR edit existing video on Sandbox
- Add a second category
- See the initial category disappear

I tested this with this video: https://sandbox-carnation-std-vi

[2020-09-11 20:22] dwells-tn opened #30 "Drupal 9 - "The website encountered an unexpected error" when Editing Event Series/Instances"
**Issue Description** - You get the Drupal white page of death when you try to edit an existing event series or instance on the Drupal 9 Alpha Sandbox.

**How to Recreate**

- Go to Admin/Content/Event/Event Series or Admin/Content/Event/Event Instances
- Click on the edit button to edit a piece of content
- Break site

[Initially identified issue on Carnation sandbox.](https://sandbox-carnation-s

[2020-09-14 22:18] froboy opened #32 "BUG: Virtual Meetings with no description fail to load"
To recreate (tested 14 Sept 2020 in sandbox):
- Edit a Virtual Meeting
- Remove the Description
- Navigate to the Virtual Meetings through the UI and click on the meeting
- Observe the detail page spins and doesn't load properly.
- Observe `TypeError: this.description is null` in the console.

I believe removing `.processed` in this line would resolve the issue, but I'm not sure if that would brea

[2020-09-15 09:41] hamrant commented on #32
Fix - https://github.com/fivejars/openy_gated_content/pull/104/commits/5502eaac82daab1889497cccd745cfbb1e9abf76
PR - https://github.com/fivejars/openy_gated_content/pull/104

[2020-09-15 12:11] froboy commented on #32
Quick visual review of the code looks good to me. Thanks @hamrant!

[2020-09-16 08:12] hamrant commented on #32
Fix merged in fivejars fork, will be inclued to next release.
cc @froboy @anpolimus

[2020-09-17 12:42] hamrant commented on #12
@paige-kiecker let's close this issue

[2020-09-17 19:06] jimparo opened #33 "Commas on video details page when only one category selected"
When viewing a video on the Virtual Y page videos with only a single category have a comma after the first category. This appears twice on the page, once below the instructor and a second time lower on the page above "up next".

The issue in on this page but it doesn't appear to be an issue in the sandbox right now.

https://sandbox-lily-std-virtual-y.openy.org/virtual-ymca#/video/f90fd2c6-aade-44

[2020-09-22 17:11] jimparo opened #37 "Virtual Y Not Loading on Smart TVs"
Using an embedded browser on a smart TV the Virtual Y login page is not loading when viewing  https://ymcagbw.org/virtual#/login

The rest of the page loads including the instructions above and below the Virtual Y content type.

We have had complaints from members who used to access the classes via the embedded YouTube app on their smart tvs and are now trying to access the content using an embedd

[2020-09-22 19:08] froboy opened #38 "Default event series start time and increment are too restrictive"
We've had a number of VY users mention two requests:
- events might start on the quarter hour
- their branches open before 8AM and events need to start before then.

PR coming.

[2020-09-23 08:04] podarok commented on #37
@jimparo is there any way to install Chrome browser there?
I believe there are tough restrictions applied in any Smart TV for embedded browsers, security wise

[2020-09-23 14:45] jimparo commented on #37
@podarok There is not an option to install a different browser app on my Smart TV. @Sanchiz has some additional info based on some testing we did together this morning.

[2020-09-23 14:52] Sanchiz commented on #37
@podarok some of the browsers from webOS on older LG models do not render JS components such as Activity Finder, Virtual Y, and Schedules.

According to the documentation, they use WebKit or Chromium, so it means that Chrome is installed already - http://webostv.developer.lge.com/discover/specifications/web-engine/.

It may be a more complex problem than just Virtual YMCA.

[2020-09-23 15:24] #38 closed

[2020-09-23 22:13] froboy opened #39 "Virtual Meeting - Instructor names of series not showing on instances"
(As reported in Slack)

Recreation steps:

-  Create a recurring meeting
-  Load an individual instance of the meeting
-  Note the lack of host / instructor

Workaround: Edit each individual instance and add host name.

[2020-09-24 14:41] Sanchiz commented on #37
Virtual Y does not work on LG Smart TV with webOS 1.x. 1.4.0-2533 (Afro-ashley) for example.

[2020-09-28 19:20] froboy opened #40 "Refactor Zoom embeds"
As per Zoom - [iFrames are not officially supported](https://devforum.zoom.us/t/embed-code-on-htmlwebsite-page-for-zoom-streaming-directly-to/13350/5): "You can try using the iFrame method mentioned here, but it is not officially supported and can have some issues."

Proposed resolution:

1. ~Add "Embed Zoom" checkbox to Virtual Meeting content type. (off by default)~
[code]
2. ~Add "Embed Zooms D

[2020-09-28 19:20] froboy commented on #40
I'll be working on this this week.

[2020-10-01 14:50] froboy opened #41 "Failed Personify login generates two errors"
When a login fails with Personify two different error messages are displayed. Could “Personify user doesn’t have active membership” be removed/hidden? The configured authentication error message shows below the “Try again” button.

![image](https://user-images.githubusercontent.com/238201/94824886-188bed80-03cb-11eb-863b-fef36493fd80.png)

I'll provide test credentials in Slack.

[2020-10-05 14:41] froboy opened #43 "openy_gc_log: "Virtual Y Logs" is not restricted to a specific permission"
https://github.com/fivejars/openy_gated_content/blob/a6b14795f5c86f58e0c0062198a9769c1c56d8e3/modules/openy_gc_log/config/install/views.view.virtual_y_logs.yml#L20-L22

Currently access is set to "Unrestricted". I'd recommend this View use the existing "View Log entity entities" permission.

To be clear, "Unrestricted" in still restricted to some level of administrator as the path contains `/admin

[2020-10-05 14:50] froboy commented on #43
Fixed in https://github.com/fivejars/openy_gated_content/pull/129

[2020-10-07 14:47] #12 closed

[2020-10-07 15:15] paige-kiecker commented on #32
Resolved in VY 1.0

[2020-10-07 15:15] #32 closed

[2020-10-07 15:16] paige-kiecker commented on #43
Resolved in VY 1.0

[2020-10-07 15:16] #43 closed

[2020-10-07 15:16] #41 closed

[2020-10-07 15:16] paige-kiecker commented on #39
Resolved in VY 1.0

[2020-10-07 15:16] #39 closed

[2020-10-09 18:39] froboy commented on #40
I've been delayed on producing this PR. In the mean time if folks need a hotfix, this line https://github.com/ymcatwincities/openy_gated_content/blob/ddd13ddf5c824099b811245caf53e095e17714ac/js/gated-content/src/views/VirtualMeetingPage.vue#L157 can be changed to `return false;`

[2020-10-09 19:14] froboy commented on #40
The Open Y team will be resolving this in the November release.

[2020-10-13 15:23] froboy opened #47 "Disable/add permissions to page tabs inside VY application"
Drupal's page tabs (View, Edit, Delete...) show up on all nodes, but when inside of a single-page app these links can be confusing. A user may click on it wanting to edit a specific content item, but instead be directed to edit the main VY Landing Page container, which they generally should not be editing.

![Virtual_YMCA___YMCA_Buffalo_Niagara](https://user-images.githubusercontent.com/238201/958

[2020-10-13 15:41] ddrozdik commented on #37
I confirm that Virtual Y along with Activity Finder does not work on Smart TV.

Tested configuration:
- LG Smart TV 47LB631V-ZL
- Software version 05.05.70
- webOS 1.4.0-2532 (Afro-ashley)

It looks like all pages where the Vue.js framework is used do not work.

Below screenshots on how pages look like:
1. Virtual Y homepage
![photo_2020-10-13_18-38-00](https://user-images.githubusercontent.com/62

[2020-10-18 01:59] froboy opened #48 "YouTube Thumbnails occasionally display as pixelated grey box"
Drupal will occasionally display a low resolution "grey box" image instead of a proper thumbnail. This seems to happen when the video is not high enough resolution.

For example:
https://i.ytimg.com/vi/m206494liG8/maxresdefault.jpg - grey box
https://i.ytimg.com/vi/m206494liG8/sddefault.jpg - smaller thumbnail that displays correctly
https://www.youtube.com/watch?v=m206494liG8 - original video

Mo

[2020-10-21 13:57] algisinfo opened #49 "error when trying to edit a section of a node"
[code]

[2020-10-21 16:30] froboy commented on #48
I've confirmed that a temporary fix for this is adding a large (greater than 1280×720px) thumbnail via YouTube's video editor will resolve this issue.
![Video_details_-_YouTube_Studio](https://user-images.githubusercontent.com/238201/96749739-ce29db00-1390-11eb-9a6a-7b9435601610.png)

[2020-10-22 14:57] paige-kiecker opened #50 "CSV Custom Auth doesn't correctly edit membership lists in Virtual Y"
Currently, the CSV sync tool does not revoke Virtual Y access for users who appeared on the CSV report in the past, but are no longer listed as members. It also does not edit information for existing users, whose email or other access credentials may have changed.

Desired experience: only members listed on the most recent CSV report, with their most recent data, should have Virtual Y access

[2020-10-22 18:52] paige-kiecker opened #51 "Virtual Y is not Compatible with IE11"
No elements of Virtual Y beyond the homepage render as intended within Virtual Y. Due to lack of official support from YouTube, and Microsoft ending support for Internet Explorer in 2021, full compatibility will not be supported by Open Y/Virtual Y.

Desired experience: add browser detection script that displays
"Modern video experiences (such as YouTube) that power Virtual Y do not [support the i

[2020-10-26 10:04] hamrant commented on #40
Fixed in https://github.com/fivejars/openy_gated_content/pull/136

[2020-10-26 10:04] #40 closed

[2020-10-26 10:05] hamrant commented on #33
Fixed in https://github.com/fivejars/openy_gated_content/pull/141

[2020-10-26 10:06] #33 closed

[2020-10-26 10:07] hamrant commented on #49
Fixed in https://github.com/fivejars/openy_gated_content/pull/145

[2020-10-26 17:00] froboy commented on #51
It'd be nice to add Firefox... it's... the Open Source-y thing to do. :)

Or we could link to https://browsehappy.com/, which is a product of the WordPress team :) but seems to have good representation across the board.

[2020-10-26 17:41] paige-kiecker commented on #51
@froboy noted, thank you!

[2020-10-26 19:55] froboy opened #52 "Personify SSO redirect is jarring & inconstent with other providers"
When I visit a Virtual Y site with Personify SSO I'm immediately taken away to Personify's (not super friendly) SSO authentication page. (See https://ymcasv.y.org or https://nmymca.y.org.) This removes any chance for the Y to communicate with the user before the authentication process begins.

![personify_redirect](https://user-images.githubusercontent.com/238201/97221689-416d8b80-179b-11eb-8e25-7

[2020-10-30 11:21] hamrant opened #53 "Fatal error on event instance view as admin"
#1 /var/www/docroot/core/lib/Drupal/Core/Field/FormatterBase.php(89): Drupal\Core\Field\Plugin\Field\FieldFormatter\EntityReferenceLabelFormatter->viewElements(Object(Drupal\field_inheritance\FieldInheritanceFactory), 'en')
#2 /var/www/docroot/core/lib/Drupal/Core/Field/Plugin/Field/FieldFormatter/EntityReferenceFormatterBase.php(76): Drupal\Core\Field\FormatterBase->view(Object(Drupal\field_inher

[2020-10-30 18:17] paige-kiecker commented on #50
This will be resolved in v 1.1

[2020-10-31 10:55] #53 closed

[2020-11-02 05:06] froboy opened #54 "Existing links for videos and blog posts are broken after 1.0 update"
In VY 1.0 the paths for Video and Blog Post listings have changed. Existing links result in a 404 page and no automated upgrade path exists.

Old path -> New Path
`/virtual-ymca#/categories` is now `/virtual-ymca#/categories/video`
`/virtual-ymca#/blog-post` is now `/virtual-ymca#/categories/blog`

This was changed in https://github.com/fivejars/openy_gated_content/pull/104/files and then a fix wa

[2020-11-03 08:16] hamrant commented on #54
Fixed in https://github.com/fivejars/openy_gated_content/pull/156

[2020-11-03 08:16] #54 closed

[2020-11-03 08:17] #49 closed

[2020-11-03 08:20] hamrant opened #55 "Blog post with no category"
Blog post with no category just has Vue spinner and JS console error:

[code]

[2020-11-03 16:13] #55 closed

[2020-11-04 22:47] TomScarboroughYMCA opened #56 "Navigation issue between Blogs and Videos - following fix for existing links for videos and blog posts"
Following the fix for Issue #54, we found an navigation issue today, confirmed in https://sandbox-carnation-std-virtual-y.openy.org, where, as a logged-in user, I click on Videos, and am correctly redirected to /virtual-ymca#/categories/video and see categories of video, then when I click Blogs, I am correctly redirected to /virtual-ymca#/categories/blog and see the heading "Blog categories", but

[2020-11-05 02:34] froboy opened #57 "Blog posts with no image have huge empty space"
![Virtual_YMCA___Drush_Site-Install](https://user-images.githubusercontent.com/238201/98190568-e6474180-1edc-11eb-8420-a47ee4bccfe9.png)

To recreate:
- Edit a VY blog post
- Remove the image
- View the post

Seems like another unchecked null value. `<div class="blog-page__image" style="background-image: url(&quot;null&quot;);"></div>` is getting rendered and CSS applied as if there was an image t

[2020-11-05 18:39] TomScarboroughYMCA opened #59 "Outdated gc_auth_custom_users.csv format does not throw specific error"
One of our site owners attempted to upload their gc_auth_custom_users.csv with what I *think* is a very old column layout:
"Id,Firstname,Lastname,YBillingMember,Email"
...instead of the expected:
"Member ID,Member First Name,Primary Member,Member Email,Package Name,Package Site".

The file looked like it imported on her end with no validation error thrown.

Can this validation get added to the roa

[2020-11-09 22:17] froboy opened #62 "Virtual Y Blog Posts do not use image style"
In the same vein as https://github.com/ymcatwincities/openy/issues/2073, the VY Blog Post should use an image style instead of the user uploaded image. The `carnation_banner_1920_700` style may work here.

[2020-11-11 19:23] bharath-kondeti commented on #57
I have fixed the issue and raised the PR for the same.

https://github.com/fivejars/openy_gated_content/pull/166

[2020-11-11 19:25] bharath-kondeti commented on #57
@froboy, I have worked on the fix and raised a fix for the same.

PR Link: https://github.com/fivejars/openy_gated_content/pull/166

[2020-11-12 15:23] froboy opened #63 "Daxko and Personify SSO providers require cache_control_override"
Enabling either `openy_gc_auth_daxko_sso` or `openy_gc_auth_personify_sso` can result in an issue where the Virtual Y homepage doesn't load. The only way around this is a Drupal cache clear, and then it only loads once.

As per a Slack conversation, from @atiupa:

We've tested `cache_control_override` for both modules and it seems to resolve our issues. I'd second the addition of this module as a

[2020-11-12 16:47] podarok commented on #63
@danylevskyi let's share Y North integration as an alternative for the alpha module dependency

[2020-11-16 13:51] #56 closed

[2020-11-17 16:03] froboy opened #65 "Users with "Virtual YMCA" role see "Access Denied" on password reset attempt"
**To reproduce:**
- Create a new user
- Add any of the member roles: "Virtual YMCA", "Virtual YMCA Trial", or "Virtual YMCA Premium"
- Visit `/user/password` and attempt a password reset with the email of the new account.

When a user with a member role attempts to reset their password via `/user/password` they are met with `403 Access Denied`. That could be confusing and does not give a path forw

[2020-11-17 19:52] rdwash opened #66 "Daxko Provider module doesn't update login form label or description"
For Daxko Provider implementation, updating the Form Label input from "Barcode" to anything else does not change the form label on the UI.

STEPS TO REPRODUCE:
Navigate to the Daxko Provider GC Auth settings:
- Manage > Virtual Y > Virtual Y Settings > GC Auth settings
- Find Daxko Provider and click Edit
- Update the Form Label value to something like "PIN Number"
- Save
- Log out
- The login inp

[2020-11-23 15:35] anpolimus opened #68 "Shared content issues."
1. We have to add an additional field, called `Sync enabled`. Low
2. Fix issue, when one of the source is failed. High
3. Test work with 0.7 Middle
4. Add ability to scan more than 50 items Medium
5. better documentation for Shared Content setup.

[2020-11-23 22:56] froboy opened #69 "Change log date export format"
**Current behavior:**
The time exported in Log Archives by `openy_gc_logs` is in Unix time, which isn't easy for users to use in spreadsheets or other data (although I did find a nice formula for converting (`=(A1/86400)+DATE(1970,1,1)`).

[code]

**Expected behavior:**
Exported logs should have the time in some format that's easily recognizable by spreadsheets and humans alike.

[2020-11-24 19:27] froboy opened #70 "YouTube Videos from playlists do not show for members"
**Current behavior:**

Drupal's Video entity allows for YouTube playlist links, but Virtual Y does not display those videos.

- Add a new video with a url like https://www.youtube.com/watch?v=zr6MnmbAJas&list=PL_QVggMcFfKbWXjK0wtdCAslI8osKbaga
- Observe the video is visible in the Drupal admin UI
- visit the page in VY
- observe the video doesn't render.

**Expected behavior:**
Hopefully have the

[2020-11-24 19:30] froboy opened #71 ""Add to Outlook" button puts `+` instead of spaces"
- Visit a Live Stream or Virtual Meeting
- Click "Add to Outlook (or 365)"
- Observe the Title and body text is separated with `+`s instead of ` `s.

![Calendar_-_Schwab__Avi_-_Outlook](https://user-images.githubusercontent.com/238201/100142215-26a13c00-2e59-11eb-967c-cd8b146ff8aa.png)

[2020-11-25 14:33] bharath-kondeti commented on #57
This issue is fixed and PR is merged to the repo

Link: [https://github.com/fivejars/openy_gated_content/pull/166](https://github.com/fivejars/openy_gated_content/pull/166)

[2020-11-25 15:21] froboy opened #72 "Use full pager for Virtual Y Logs view"
The mini pager at /admin/virtual-y-logs is a pain to use. Let's use a full pager instead.

This should be made at https://github.com/fivejars/openy_gated_content

Process:

-  Enable Views UI module
-  Edit the "Virtual Y Logs" View
-  Change "mini" pager to "full"
-  Save and export the view
-  Copy the exported view to the corresponding config in openy_gc_log
-  Add an update hook to re-import t

[2020-11-25 15:28] froboy commented on #69
This will be covered in https://trello.com/c/qr5lGzd0/35-user-activity-log-v2-score-5

[2020-11-25 15:31] froboy commented on #66
@bharath-kondeti

[2020-11-25 17:10] froboy opened #73 "Add "Login Mode" option to openy_gc_auth_daxko_sso"
Similar to #52, the same method used in https://github.com/fivejars/openy_gated_content/pull/167 should be adapted for the Daxko SSO Gated Content Auth provider.

**Acceptance criteria:**
- `/admin/openy/virtual-ymca/gc-auth-settings/provider/daxkosso` should have a "Login Mode" button
- the button should control whether SSO redirect happens immediately upon hitting the VY homepage or a button to

[2020-11-27 12:39] podarok commented on #57
Thank you

[2020-11-27 12:39] #57 closed

[2020-12-01 17:51] froboy opened #74 "Use email instead of uid in logs export"
https://github.com/fivejars/openy_gated_content/pull/152 adds `uid` to the Logs Archive, but `uid` is not useful data to site owners without some translation. Let's use `email` instead, because it's either a real email or a fake one that owners could parse useful data from with a simple excel formula.

[2020-12-01 17:54] podarok commented on #74
Export is done via Views, so this possibly could be done via Views tuning only

[2020-12-01 20:27] froboy commented on #74
@podarok are you sure? It looks like there's custom code that generates the exports https://github.com/fivejars/openy_gated_content/pull/152/files#diff-2e89b91ef29ae86e4bd7de40053c36a84d761929ce86b9ad9c13b48243e90716R250

[2020-12-01 20:30] podarok commented on #74
@froboy nice catch.
For sure Views should be used for generating export for consistency and maintenance simplicity

[2020-12-03 23:04] froboy opened #75 "YUSA GC Auth Testing Tweaks"
A few issues from the YUSA testing that will will be resolved by the YUSA team:

**Documentation/UX**
- Permission mapping fieldset should have description noting a few things:
  - Contact YUSA if you need a list of the memberships your Y is sending to the Nationwide Membership database.
  - To remove a mapping, delete the text from the field and resave the form.
- The "Email Verification" fieldse

[2020-12-04 22:41] froboy opened #76 "GC Auth YUSA Provider whitescreens on failed login"
https://github.com/ymcatwincities/openy_gated_content/blob/224f4032dcc6950226b8533117516ffb3d76577c/modules/openy_gc_auth/modules/openy_gc_auth_yusa/src/YUSAClientService.php#L94

Throws:
`Error: Call to undefined method Drupal\openy_gc_auth_yusa\YUSAClientService::logger() in Drupal\openy_gc_auth_yusa\YUSAClientService->getUserData() (line 94 of /var/www/docroot/modules/contrib/openy_gated_conten

[2020-12-04 23:13] froboy commented on #76
https://github.com/froboy/openy_gated_content/pull/5/commits/f0b26a81f438192b72d12e5f4d4f814f786dd806 will work in a pinch.

[2020-12-07 19:33] froboy opened #77 "`virtual_ymca_editor` is unable to view category listings"
To test:
- log in to https://sandbox-carnation-std-virtual-y.openy.org/ and create a user with the "Virtual YMCA Editor" role
- observe that as Administrator and Member, you can see these pages:
    - /virtual-ymca#/categories/blog
    - /virtual-ymca#/categories/video
- log in as the Editor
- Observe the above pages are empty, with no error or message.

[2020-12-07 19:33] froboy commented on #77
PR coming

[2020-12-07 20:11] froboy opened #78 "`virtual_ymca_editor` should not be hardcoded"
Example:
https://github.com/fivejars/openy_gated_content/blob/master/src/SegmentContentAccessCheck.php#L23
https://github.com/fivejars/openy_gated_content/pull/187

From @anpolimus: Probably we have to add general trait.

From @froboy:  It'd be great for that to be alter-able as well. For instance, we have a "site owner" role that adds some specific Y Cloud permissions and it'd be nice for us to b

[2020-12-08 10:52] aleevas opened #79 "A plain text "loading" instead an animated spinner on category page"
On the category page when caontent in loading we can see a plain text instead an animated spinner:

![LoaderPlainText](https://user-images.githubusercontent.com/744406/101474570-0773d580-3954-11eb-9a83-84ccf7e60583.png)

[2020-12-08 14:29] froboy commented on #78
https://github.com/ymcatwincities/openy_gated_content/issues/78 is now the working solution to this.

[2020-12-09 15:37] froboy opened #82 "Long body text crashes outlook.com calendar links"
If the url that is produced by the "Add to calendar" link for Office/Office 365 is more than 4096 characters then office.com will crash at the request.

If you can find a way to trim the body text passed in the “add to office” link to something reasonable that should resolve the issue.

**To recreate**
- Create a virtual meeting or Live stream
- Add some long text to the Description field
- Visit

[2020-12-09 15:37] froboy commented on #82
@bharath-kondeti will be working on this.

[2020-12-16 16:00] TomScarboroughYMCA opened #84 "Logger instance is invoked but not injected into RecliqueClientService.php"
When attempting to use the "Open Y Virtual YMCA Auth ReClique" module, if the API user credentials are not correct, the actual error from the ReClique CORE API is obfuscated by an error thrown in RecliqueClientService.php's getUserData(string) function.  A call to an instance level $logger is made, but no $logger is defined for the class.

Repro steps:

1. Enable the "Open Y Virtual YMCA Auth ReCl

[2020-12-16 20:10] TomScarboroughYMCA opened #85 "ReClique CORE auth API: Members with multiple people on membership returns generic error to user"
When attempting to use the "Open Y Virtual YMCA Auth ReClique" module, after confirming all module settings are correct, and the member email is valid *but* there are multiple people on the membership, the user is not granted gated access, no Watchdog error is logged, and the error "Something went wrong.  Please try again" is displayed to the user.

The API return JSON is:
{"request_uri":"\/api\/v

[2020-12-16 20:31] #50 closed

[2020-12-16 20:32] paige-kiecker commented on #52
This was resolved in v 1.1.3

[2020-12-16 20:32] #52 closed

[2020-12-16 20:45] paige-kiecker commented on #51
This was resolved in v 1.1.3

[2020-12-16 20:45] #51 closed

[2020-12-18 14:23] rajeshkeladimath opened #86 "Redirect issues"
After updating to the latest version getting redirect issues. Getting the following message : The page isn’t redirecting properly and it is stuck under the redirect loop.This is happening after adding the landing page URLs in Virtual YMCA settings form '**admin/openy/virtual-ymca**'

![redirect](https://user-images.githubusercontent.com/8415953/102624764-7dedb000-416a-11eb-92cb-5ecb5f2f2a6c.png)

[2020-12-22 07:21] rajeshkeladimath commented on #86
Hi team,

Any updates on this yet.

[2020-12-22 11:49] #70 closed

[2020-12-22 17:02] froboy commented on #74
It looks like this was resolved in https://github.com/fivejars/openy_gated_content/pull/184. The code I referenced in
https://github.com/fivejars/openy_gated_content/commit/f467113206ea4c2d71100895ca6f7a6d9f6398fe#diff-2e89b91ef29ae86e4bd7de40053c36a84d761929ce86b9ad9c13b48243e90716R269 may be deprecated? @podarok could check, but otherwise this issue could be considered resolved.

[2020-12-23 22:04] froboy commented on #72
Resolved by https://github.com/fivejars/openy_gated_content/pull/185

[2020-12-23 22:04] #72 closed

[2020-12-23 22:06] froboy commented on #78
https://github.com/fivejars/openy_gated_content/pull/188 resolve this issue.

[2020-12-23 22:06] #78 closed

[2020-12-23 22:08] froboy commented on #69
https://github.com/fivejars/openy_gated_content/pull/152 resolves this.
![Screenshot_12_23_20__4_08_PM](https://user-images.githubusercontent.com/238201/103040469-23bd6800-4539-11eb-80cc-6fd45b004ced.png)

[2020-12-23 22:08] #69 closed

[2020-12-24 19:59] froboy opened #90 "Remove Zoom embed info from Virtual Meeting link field"
https://github.com/fivejars/openy_gated_content/blob/master/modules/openy_gc_storage/config/install/field.field.eventseries.virtual_meeting.field_vm_link.yml#L19
https://github.com/fivejars/openy_gated_content/blob/master/modules/openy_gc_storage/config/install/field.field.eventinstance.virtual_meeting.field_vm_link.yml#L19

Those fields should be updated to remove information about Zoom embeds as

[2020-12-25 15:34] akaleMulder opened #91 "Blogs don't work if a blog post has the 'category' field empty"
Making the 'category' field mandatory fixes the problem.
https://user-images.githubusercontent.com/2506214/103138054-dd166c00-46f8-11eb-8b6e-92df72c8fd7e.mp4

[2020-12-30 18:44] TomScarboroughYMCA opened #92 "Sharing or Un-sharing an Event Instance causes unhandled exception"
When attempting to share or un-share an Event Instance using the bulk action on Home > Administration > Content > Events > Events, the user sees the error "The website encountered an unexpected error. Please try again later."

Repro steps:

- Log in as Site Owner or Admin
- Go to Manage > Virtual Y > Event series
- Click the Event Instances tab
- If no event exists on this tab already, create a ne

[2020-12-30 18:46] TomScarboroughYMCA commented on #92
Stack Trace:

[code]

[2021-01-12 14:05] #90 closed

[2021-01-12 15:50] hamrant commented on #79
Fixed in current release

[2021-01-12 15:50] #79 closed

[2021-01-12 15:52] hamrant commented on #71
Let's close this one, seems to be fixed - https://github.com/fivejars/openy_gated_content/pull/193#issuecomment-742859172

[2021-01-12 15:52] #71 closed

[2021-01-12 16:01] hamrant commented on #59
Hi @TomScarboroughYMCA

I think this is bad idea to add validation for CSV file, because migration can be different for each project, you just need to add customization for `migrate_plus.migration.gc_auth_custom_users.yml` config.

So in your case you just need to fix fields:

[code]

If you want to use Lastname in user name, just add this value to `source`:

[code]

cc @podarok

[2021-01-12 16:03] hamrant commented on #48
@froboy can we close this issue? Looks like this not related to VY

[2021-01-12 16:09] hamrant commented on #74
@froboy yep, this was fixed and included to new release

[2021-01-12 16:09] #74 closed

[2021-01-12 16:11] hamrant commented on #82
Looks like this was fixed, let's close this issue

[2021-01-12 16:11] #82 closed

[2021-01-12 16:12] hamrant commented on #77
Related PR - https://github.com/fivejars/openy_gated_content/pull/233

Issue was fixed, so let's close this one.

[2021-01-12 16:12] #77 closed

[2021-01-12 16:17] hamrant commented on #65
I think this was fixed in https://github.com/fivejars/openy_gated_content/pull/218

@froboy please review

[2021-01-14 02:27] froboy opened #95 "Autologout module throws error on cron"
To recreate:
- Visit https://sandbox-carnation-std-virtual-y.openy.org
- Log in as admin, enable Autologout and Dblog modules
- Run cron
- Observe this error:

According to this [helpful SO thread](https://drupal.stackexchange.com/a/260140/24177) `->limit(50)` should be `->range(0, 50)` in this case.

[2021-01-14 02:47] froboy opened #96 "Log Archiver errors on export"
To recreate:

- Enable the VY log module
- Create some recurring Live Streams/Virtual Meetings
- View those nodes through VY
- Change the recurrence so that those nodes are deleted from the db
- Attempt to export a log and see these errors

A few different errors may be thrown:

It seems like in this case the logger is trying to pull the title from an expired event instance.

[2021-01-14 20:44] paige-kiecker opened #97 "Second page of Shared Content Server results do not display"
Not all of the videos in the shared content server are viewable by Ys

Steps to reproduce:

1. Access shared content server, navigate to video tab
2. Click next on paginator
3. No results display on page two

Alternative  steps for similar issue:
1. Access shared content server, navigate to video tab
2. Enter 'ymca' in donated by filter field, hit search
3. Click next on paginator
4. A small box d

[2021-01-18 16:21] sarah-halby commented on #29
@podarok can you review this item and see if it is an issue in Drupal 9.0 & 9.1? I'll get it added to Jira as a bug.

[2021-01-18 16:22] sarah-halby commented on #30
@podarok can you review and see if this is still an issue in Drupal 9.0 & 9.1? I'll get a bug created in Jira for tracking.

[2021-01-18 16:26] sarah-halby commented on #48
@hamrant & @froboy is this still an issue with the new video player? If it is not, let's close this issue.

[2021-01-18 16:28] sarah-halby commented on #59
@TomScarboroughYMCA have you reviewed @hamrant solution above? If so, can we move forward and close this ticket?

[2021-01-18 16:29] sarah-halby commented on #62
@froboy this has been resolved in the VY Release 1.2. If you are still facing this issue, please raise it in Slack and we will address it.

[2021-01-18 16:31] sarah-halby commented on #63
@anpolimus can you please review and make a final decision on this item and update the dev documentation? I'll get this added as a task in Jira.

[2021-01-18 16:32] sarah-halby commented on #65
@froboy per @hamrant comment above, can you review the issue and determine if this has been fixed? If so, please close this item.

[2021-01-18 16:33] hamrant commented on #48
@sarah-halby I think this problem was on YouTube side, let's close issue after @froboy confirmation

[2021-01-18 16:33] sarah-halby commented on #66
@froboy is this issue resolved per the merge on Nov 30? If so, can you please close this issue?

[2021-01-18 16:36] sarah-halby commented on #73
@froboy this was completed in release 1.2.

[2021-01-18 16:36] #73 closed

[2021-01-18 16:37] sarah-halby commented on #75
@froboy have you fixed this issue and it's ready for testing?

[2021-01-18 16:39] #84 closed

[2021-01-18 16:40] sarah-halby commented on #85
@TomScarboroughYMCA this issue will be resolved in the VY release 1.3.

[2021-01-18 16:44] sarah-halby commented on #91
@akaleMulder we'll add this to our backlog to address.

[2021-01-18 16:47] sarah-halby commented on #97
We'll add this issue to the 1.3 release.

[2021-01-18 16:48] sarah-halby commented on #95
@froboy this will be in the 1.2.1 release.

[2021-01-18 16:49] sarah-halby commented on #96
@froboy this will be in the 1.2.1 release.

[2021-01-18 17:19] hamrant commented on #65
This was postponed from release by @anpolimus. PR with fix ready for testing and review

[2021-01-19 09:41] akaleMulder commented on #91
@sarah-halby the issue has been fixed in the latest build.

[2021-01-19 10:36] podarok commented on #30
Can't reproduce @sarah-halby
Everything works like expected
Can't catch any "Break site" issues
Could be related to memory issues

[2021-01-19 10:43] podarok commented on #29
Seems like on the latest Virtual Y this is not anymore an issue
I was able to add BootCamp as a secondary category and it does work without any issues @sarah-halby

![image](https://user-images.githubusercontent.com/563412/105023691-f1c5f580-5a53-11eb-9586-d5c0d0adce96.png)

[2021-01-19 17:12] #96 closed

[2021-01-19 17:13] #95 closed

[2021-01-19 21:34] froboy commented on #65
I'll wait until that PR is merged. I tested https://sandbox-carnation-std-virtual-y.openy.org/user/login and I'm seeing a message, but it's only after the user goes back and reloads the form. See the attached video.

https://user-images.githubusercontent.com/238201/105095609-84be5a00-5a6b-11eb-92e9-da84ef1c5c61.mp4

Also, the error message could use some review:

could be

[2021-01-20 13:18] anpolimus commented on #63
@froboy , @podarok we have to recheck this issue. I've investigated this issue in December and added this fix:
https://github.com/ymcatwincities/openy_gated_content/blob/master/modules/openy_gc_auth/modules/openy_gc_auth_daxko_sso/openy_gc_auth_daxko_sso.module#L17
It looks like that we no longer need cache_control_override.
@froboy can you please check it at your instances?

[2021-01-20 17:02] froboy commented on #75
https://github.com/fivejars/openy_gated_content/pull/192
https://github.com/fivejars/openy_gated_content/pull/230
those fixed two of these issues.

[2021-01-20 17:33] froboy opened #99 "Enable scheduler for VY content types"
The Scheduler module is enabled by default on VY sites but Virtual Y blog post and Virtual Y Video do not have it enabled. This should require no custom code, just some config changes to enable scheduled publishing of blogs and videos by default. See https://github.com/ymcatwincities/openy/blob/c31c7896308c52f9f3da4ae3d3e6310a4ae602ed/modules/openy_features/openy_node/modules/openy_node_landing/co

[2021-01-21 17:15] sarah-halby commented on #29
@hamrant & @anpolimus this has been tested and confirmed working by @podarok. If you believe this is good to go, please close this issue. If it is not, please provide additional context for testing.

[2021-01-21 17:16] sarah-halby commented on #30
@hamrant or @anpolimus can either of you reproduce this issue above? @dwells-tn - could you retest when you get a chance? I want to confirm that it is no longer an issue before we close this out.

[2021-01-21 17:22] hamrant commented on #29
@sarah-halby @podarok thanks

[2021-01-21 17:22] #29 closed

[2021-01-21 17:28] hamrant commented on #30
Tested on [https://sandbox-carnation-std-virtual-y-d9.openy.org/](https://sandbox-carnation-std-virtual-y-d9.openy.org/) works fine for me.

@dwells-tn next time you can try to enable `Database Logging` module on `/admin/modules` and share error from logs, this can help with the investigation.

[2021-01-21 21:35] froboy opened #100 "Enable sorting by column for Event Series/Event Instances Views"
I'd propose we enable these sorts on these pages:

- /admin/content/events/instances
  - Title
  - Event Date
  - Created
  - Changed
- /admin/content/events/series
  - Title
  - Created
  - Changed

Sorting by "Series Starts" would be nice, but it seems that's [already been tried](https://www.drupal.org/project/recurring_events/issues/3160681) and is ~not possible~ much more complex.

[2021-01-21 21:57] sarah-halby commented on #91
Hooray! Thanks, @akaleMulder cc @paige-kiecker - closing with this comment. Fixed in 1.2.1.

[2021-01-21 21:57] #91 closed

[2021-01-22 02:43] froboy opened #101 "Fix capitalization inconsistency in VY Titles and Empty messages"
`Up next` should be `Up Next`

![Virtual_YMCA___Drush_Site-Install](https://user-images.githubusercontent.com/238201/105421110-2c23c400-5c07-11eb-8cec-6c0cfbc6d560.png)

`Live streams` -> `Live Streams`
`Virtual meetings` -> `Virtual Meetings`
`Virtual Meetings not found` -> `Virtual meetings not found.`
`Blog posts` -> `Blog Posts`

![Virtual_YMCA___Drush_Site-Install](https://user-images.githubu

[2021-01-25 17:16] TomScarboroughYMCA opened #102 "Fix Activity Log Export when user has been removed"
West Cook YMCA's Virtual Y site cannot export activity log data for January.

Repro Steps:

- Log into West Cook's Virtual Y site as Admin.
- Navigate to Manage > Virtual Y > Logs > Export log records
- Attempt to export a log for Date Start: "2021-01-01" to Date To: "2021-01-25"

In the browser, the error "The website encountered an unexpected error. Please try again later." will display and noth

[2021-01-26 16:25] froboy commented on #66
@sarah-halby I don't have permission to close the issue, but I can confirm that https://github.com/fivejars/openy_gated_content/pull/179 resolved it.

[2021-01-26 16:29] froboy commented on #48
I tested on the sandbox and the issue seems to be resolved with the new video player. I can't point to a specific commit, but it's good.
![Virtual_YMCA___Drush_Site-Install](https://user-images.githubusercontent.com/238201/105873628-4c65d100-5fc1-11eb-901b-c16c1bbb624b.png)

[2021-01-26 16:29] #48 closed

[2021-01-26 16:40] sarah-halby commented on #62
@froboy confirmed the issue was not resolved on 1/26. @paige-kiecker & I will work on prioritization.

[2021-01-26 17:16] sarah-halby commented on #66
cc @rdwash on this one. Closing this ticket.

[2021-01-26 17:16] #66 closed

[2021-01-27 08:26] rajeshkeladimath commented on #86
Hi team,

We still have this issue with the daxko auth provider. This happens once we set "Virtual Y Landing Page url" and "Virtual Y Login Landing Page url" in Virtual YMCA settings form.

[2021-01-27 08:29] rajeshkeladimath commented on #86
![Virtual-Y-settings-Whatcom-Family-YMCA](https://user-images.githubusercontent.com/8415953/105964109-c7a1b280-60a7-11eb-99a5-fd2d1ee1e355.png)

[2021-01-29 16:45] froboy opened #104 "Ask YouTube to limit related videos"
While YouTube doesn't allow you us to disable related videos, [we can (as of today)](https://developers.google.com/youtube/player_parameters#rel) set `rel=0` to limit related videos to videos from the same author.

If a video is from YouTube, let's add this parameter to make things a little cleaner.

[2021-02-01 16:49] froboy opened #106 "Feature Request: Attempt to route users to their destination at login"
**Current behavior:**
When users attempt to use a link that's not the VY homepage they are presented with a login and then redirected back to the homepage.

To recreate:
- In a new session, visit https://sandbox-carnation-std-virtual-y.openy.org/virtual-ymca#/categories
- Click "Enter Virtual Y"
- Observe you're taken to https://sandbox-carnation-std-virtual-y.openy.org/virtual-ymca#/ instead of /

[2021-02-02 15:07] sarah-halby commented on #102
This corresponds to Jira ticket: https://openy.atlassian.net/browse/PRODDEV-188 @anpolimus will review when patch is ready from @TomScarboroughYMCA

[2021-02-02 16:29] sarah-halby commented on #101
Tied to Jira ticket: https://openy.atlassian.net/browse/PRODDEV-183?atlOrigin=eyJpIjoiODlhM2RjMGY3MzYzNDE1YmIzNzE4M2FhZmZmNDY4ODciLCJwIjoiaiJ9

[2021-02-02 16:31] sarah-halby commented on #104
Tied to user story in Jira: https://openy.atlassian.net/browse/PRODDEV-217

[2021-02-02 16:32] sarah-halby commented on #106
@froboy assigned to the 5Jars team to review and address in sprint 4 which starts 2/24.

[2021-02-02 16:34] sarah-halby commented on #100
Corresponds to Jira ticket: https://openy.atlassian.net/browse/PRODDEV-182 - we will review during backlog grooming for future enhancements.

[2021-02-02 16:37] sarah-halby commented on #99
Corresponds to task in Jira: https://openy.atlassian.net/browse/PRODDEV-198

[2021-02-02 16:45] sarah-halby commented on #92
Corresponds to bug in Jira: https://openy.atlassian.net/browse/PRODDEV-222

[2021-02-05 10:09] anpolimus commented on #104
@froboy this is not a strait forward fix.
We are using MediaPlayer wrapper: https://github.com/p0rto/vue-video-wrapper that prepares data for Vimeo and Youtube.
It uses videoId as props and it is hard to push additional params for the URL construction.
There is an issue here, connected with a similar task: https://github.com/gajus/youtube-player/issues/63
We can try to help the maintainer to fix i

[2021-02-05 21:50] froboy opened #107 "Virtual YMCA Landing Page Small Banner Image is lost on 1.2 migration"
**To recreate:**
- Take a site on VY 1.1, add an image to the "Small Banner" paragraph on the Virtual YMCA Landing Page
- Update to 1.2, observe the image is deleted, but the title and description are migrated.

![Edit_Landing_Page_Virtual_YMCA___Missouri_Valley_Family_YMCA](https://user-images.githubusercontent.com/238201/107092942-07644a80-67ca-11eb-8795-48fc1cf29548.png)

**Expected behavior**

[2021-02-08 19:35] sarah-halby commented on #107
@froboy - has this been reviewed by @anpolimus ? If so, can this be closed?

[2021-02-08 19:43] sarah-halby commented on #65
@hamrant just confirming that this item is complete and ready to be closed?

[2021-02-08 21:32] sarah-halby commented on #68
Items 1,3,4,5 are all closed. 2. has been added as a separate bug in Jira backlog: https://openy.atlassian.net/browse/PRODDEV-228

[2021-02-08 21:32] #68 closed

[2021-02-08 21:56] froboy opened #110 "Error on saving VY Landing Page"
Seems related to #49.

- Edit existing landing page
- Save
- Observe errors

I've been able to resolve the second warning with this at line 119 of `modules/contrib/openy_gated_content/src/Plugin/Field/FieldWidget/GatedContentPermissionsFieldWidget.php`:
[code]

But I don't know why the first is happening. I also tried re-saving `/admin/structure/types/manage/landing_page` just in case there was an

[2021-02-09 07:03] #102 closed

[2021-02-09 09:13] anpolimus commented on #110
Hi, @froboy it is happening, because we are replacing a string field value with a list array.
Everything works fine except for such empty values. Sometimes it is the empty string, sometimes - array with zero first item

[2021-02-09 10:05] hamrant commented on #65
@sarah-halby yep, the fix was merged 4 days ago

[2021-02-09 14:55] froboy commented on #110
@anpolimus so it sounds like `Warning: Illegal string offset '_original_delta'` will continue to exist (we just have to hide it in prod, as usual), but the fix above resolves `Warning: implode(): Invalid arguments passed`?

[2021-02-09 15:00] sarah-halby commented on #30
@dwells-tn tested this morning and it looks good. Closing ticket cc @hamrant @podarok @anpolimus

[2021-02-09 15:00] #30 closed

[2021-02-09 15:18] hamrant commented on #97
Fixed in https://github.com/fivejars/openy_gated_content/pull/259

[2021-02-09 15:18] #97 closed

[2021-02-10 12:28] anpolimus commented on #110
Yes, you are right.

[2021-02-10 17:25] sarah-halby commented on #86
Thank you @rajeshkeladimath -  we will add this to our next sprint for the VY 1.3 release. cc @froboy & @paige-kiecker

[2021-02-16 16:56] TomScarboroughYMCA opened #114 "Personify auth module grants cancelled/expired members access to Virtual Y sites"
Cancelled members at sites that use the Personify CRM for member management are able to log into the Virtual Y site.

Use a member that has a cancelled or expired membership
Attempt to log in with that member.
Login will be successful when it should not permit the member to log in.

[2021-02-16 19:36] froboy commented on #107
Yes, this has been reviewed and merged into 1.2.3.

[2021-02-16 19:36] #107 closed

[2021-02-16 19:37] froboy commented on #99
This was reviewed and accepted into VY 1.3.

[2021-02-16 19:37] #99 closed

[2021-02-16 19:44] froboy opened #115 "Category listing page only shows 8 videos and no pager"
**Observed behavior**
The listing of videos in a certain category only displays 8 videos, even if more exist.

![image(1)](https://user-images.githubusercontent.com/238201/108113265-ed91f580-705c-11eb-84b0-c5b1e18b564f.png)

**Expected behavior**
If more than 8 videos exist, a pager should appear.

**To recreate**
- Assign more than 8 videos to a Category
- Go to Categories > Your Category > "More

[2021-02-16 19:52] froboy commented on #114
https://openy.atlassian.net/browse/PRODDEV-237

[2021-02-17 14:30] hamrant commented on #115
PR with fix - https://github.com/fivejars/openy_gated_content/pull/272

[2021-02-18 05:33] froboy opened #116 "If duration field is empty or 0, hide it on the display"
![Virtual_YMCA](https://user-images.githubusercontent.com/238201/108310135-73ef2a00-7178-11eb-995d-d988ba8b780a.png)

[2021-02-18 05:42] froboy opened #117 "Category filter modal overflows page"
![Virtual_YMCA](https://user-images.githubusercontent.com/238201/108310785-9897d180-7179-11eb-99e5-b9aac55641d9.png)

If there are more categories than the height of the page, the category filter is not able to be accessed with the cursor.

[2021-02-19 11:19] rajeshkeladimath opened #118 "Virtual-y Shared Content - Wrong token being updated in Shared content source entities."
Hi team,

We created the "shared content server" and then created the "shared content source" by copying the token generated from previous step. But it gets updated wrongly. And hence we are unable to pull the contents from the remote sources. Could you please check this issue and resolve ?

![image1](https://user-images.githubusercontent.com/8415953/108497897-238bdf80-72d2-11eb-9da6-f9b27e22f1cb.

[2021-02-22 15:43] TomScarboroughYMCA opened #119 "Site Owners and Admins cannot input the time component of the Activity Log From/To filter"
Repro Steps:

- Log into any Virtual Y site as Site Owner or Administrator
- Navigate to Manage > Virtual Y > Logs
- Specify a Date Start and Date End

Note that, despite the format instruction underneath the input fields stating "Format: YYYY-MM-DD HH:MM:SS", spaces are not accepted so there is no way to specify input such as "2021-02-22 10:00:00"

Site Owner contacting me wishing to see today's

[2021-02-22 17:31] TomScarboroughYMCA commented on #119
The ui-datepicker control does not provide for selecting a time for a given date, and the input masking on the text fields will not allow inserting a space, *but* a workaround is to create the filter text in notepad, then copy/paste the values into the fields. The text will paste into the fields as originally typed, with spaces. This allows filtering on a specific day using Date Start "2021-02-22

[2021-02-22 20:53] sarah-halby commented on #116
Jira Ticket: https://openy.atlassian.net/browse/PRODDEV-242 - @froboy we've added this to the backlog to address at a future date.

[2021-02-23 14:47] froboy commented on #119
I found that the dates are filterable without a space between the date and time, but there's still a mismatch in instructions here which needs to be worked out.
![Virtual_Y_Logs___Eugene_Family_YMCA](https://user-images.githubusercontent.com/238201/108860400-c5058080-75b3-11eb-9078-83e106747538.png)

[2021-02-23 16:04] froboy commented on #118
@rajeshkeladimath It looks like the team might need some more information to help you troubleshoot this and #86. If you'd like to join the Open Y Slack to discuss these issues with the team more directly, feel free to submit a request at https://openy.org/contact/slack_access_request.

[2021-02-25 14:10] rajeshkeladimath commented on #118
Okay.

[2021-02-25 15:25] sarah-halby commented on #110
@hamrant please let me know if we are good to close this issue given the merged PRs above.

[2021-02-25 15:44] hamrant commented on #110
@sarah-halby yep, this one fixed

[2021-02-25 15:44] #110 closed

[2021-02-25 19:57] froboy opened #120 "VY "top menu" bugs in Lily and Rose"
## Lily:
- Top menu is not accessible in iPad landscape orientation.

![Virtual_YMCA___Eugene_Family_YMCA_—__Private_Browsing_](https://user-images.githubusercontent.com/238201/109208953-9680d480-7770-11eb-900f-9cdf8b94003f.png)

Reproducible on https://sandbox-lily-std-virtual-y.openy.org/

## Rose:
- Top menu overlaps logo
![Virtual_YMCA___Drush_Site-Install_—__Private_Browsing_](https://user-im

[2021-02-26 13:26] vikasbn0 opened #121 ""Virtual Y Permissions" option is not saved."
Hi,

On creating a new "Video" or an "Event Series" or editing an existing one, the "**Virtual Y Permissions**" field's option is not saved, i.e if we select a value from the "Virtual Y Permissions" field list and save the node, upon editing the node the value is not shown as selected. This is in version 1.2.3.
I tested in sandbox site, there also the issue is present.

Here is a screenshot where

[2021-02-26 18:03] TomScarboroughYMCA opened #122 "For ReClique CORE CRM Y's, Virtual Y role is not the default new user role if no Permissions Mapping defined."
When a Virtual Y site that uses ReClique CORE as the CRM does not have any Permission Mappings configured, the default role should be **Virtual YMCA**. Right now, no role is assigned for newly-created users.

Repro Steps:

- Go to https://northpennymca-azure-stage.y.org (or equivalent Virtual Y site that uses ReClique CORE crm).
- Verify there are no Permission Mappings present in the Reclique aut

[2021-02-26 20:03] sarah-halby commented on #119
@TomScarboroughYMCA I've added this issue to the backlog: https://openy.atlassian.net/browse/PRODDEV-251

[2021-02-26 20:05] sarah-halby commented on #117
@froboy I've added this to jira in the backlog: https://openy.atlassian.net/browse/PRODDEV-252

[2021-02-26 21:15] froboy commented on #92
YUSA is assigning this to our team.

[2021-03-01 15:17] froboy opened #123 "Update Virtual Event and Livestreams default text to be configurable"
![image](https://user-images.githubusercontent.com/238201/109517477-f0361700-7a6e-11eb-9ff1-1365efcaa92b.png)

https://openy.atlassian.net/browse/PRODDEV-256

[2021-03-01 20:41] sarah-halby commented on #123
@froboy this has been assigned to QA to review.

[2021-03-02 15:56] rdwash opened #125 "Virtual Meetings (series and instances) are not showing up on the calendar"
When entering recurring virtual meetings (exercise classes), the virtual meeting, or instances of it, may not show up on the schedule calendar. It is not known why some virtual meetings are showing up and some are not. So far, only one YMCA has raised this issue as, for instance, none of their "Saturday" classes are showing on the calendar and some instances of a "Friday" class aren't showing on t

[2021-03-02 17:29] sarah-halby commented on #125
@rdwash what platform is this Y using for virtual meetings? We can take a look at this issue and see when we can work into a future sprint cycle to address it. Currently, our sprint cycle is full until March 10th, so we'll either need to wait to prioritize this work or get approval to remove the current workload from this sprint.

[2021-03-02 17:31] sarah-halby commented on #123
@froboy this has been reviewed by QA and is ready for your review and approval. If so, this will be included in the 1.3 release.

[2021-03-02 19:38] rdwash commented on #125
@sarah-halby The Y is on the latest point release from VY 1.2.3. I also attempted to add a new weekly virtual meeting for Fridays and same thing. We'll continue to investigate on our end.

[2021-03-02 22:51] rdwash commented on #125
@sarah-halby We think we've narrowed the issue down to a "display limit", possibly 50 items, issue for the calendar for any week. As we move virtual meetings in and out of a given week, we're noticing virtual meetings falling off as others are added, depending the instance times configured.

[2021-03-04 22:13] sarah-halby commented on #121
@vikasbn0 our lead developer is out for a couple of days. Have you reached out to the virtual_y channel on slack to see if anyone else is experiencing this issue and can provide more details?

[2021-03-09 04:41] vikasbn0 commented on #121
I am sorry but I am not in the Slack channel, can you please provide a link to join?

[2021-03-09 15:49] froboy commented on #121
@vikasbn0 this is resolved in https://github.com/fivejars/openy_gated_content/pull/273 and has been pushed to 1.2.4. Please try updating to that code. See the PR and https://community.openymca.org/t/virtual-y-1-2-x-tips-troubleshooting/909 for notes.

[2021-03-09 15:49] #121 closed

[2021-03-09 15:53] froboy commented on #123
Confirmed. https://github.com/fivejars/openy_gated_content/pull/267

[2021-03-09 15:53] #123 closed

[2021-03-09 21:10] paige-kiecker commented on #114
This was fixed in 1.2.4

[2021-03-09 21:12] rdwash opened #126 "Event Calendar shows two event instances on Daylight Savings Time days"
If a member has their Daylight Saving Time (DST) setting turned on (on their OS) and is viewing the event calendar, specifically 3/14/2021 (first DST of this year), they are seeing classes for both 3/14 and 3/21:

![image](https://user-images.githubusercontent.com/5083127/110536982-b3f65c80-80e7-11eb-9269-14789b489751.png)

If a member has their Daylight Saving Time (DST) setting turned off (on th

[2021-03-09 21:48] sarah-halby commented on #126
Per the conversation with @froboy & @rdwash on Slack, we've added this to the Jira backlog: https://openy.atlassian.net/browse/PRODDEV-260 to be fixed before Daylight Savings Time rolls around again in fall 2021. Given the timing and the impact on 3/14 only, development time, testing, and implementation on all sites is unrealistic given the current bandwidth across the teams. Link to the discussio

[2021-03-10 18:56] sarah-halby commented on #122
@froboy this ticket was updated in Jira - can you please review the most recent comment? https://openy.atlassian.net/browse/PRODDEV-259

[2021-03-17 13:05] anpolimus commented on #86
Hi, @rajeshkeladimath .
Can you please check the next:
1. Switch to the Dummy auth method and check if this issue still exist.
2. Check Daxko sso settings at:
/admin/openy/integrations/daxko/daxko-sso
?

[2021-03-18 08:43] hamrant commented on #118
@rajeshkeladimath please check these steps https://github.com/fivejars/openy_gated_content/pull/122 (how to setup server and client), no need to copy token manually, this should work automatically. Please check that client and server updated to the latest VY version.

[2021-03-19 07:19] rajeshkeladimath commented on #118
Okay. Thank you.

[2021-03-19 15:12] sarah-halby commented on #118
Per the discussion in Slack, this issue has been resolved: https://openy.slack.com/archives/C01715RK630/p1615987969002600 Closing this ticket.

[2021-03-19 15:12] #118 closed

[2021-03-23 20:47] sarah-halby commented on #92
@TomScarboroughYMCA this was included in the 1.3 release today.

[2021-03-23 20:47] #92 closed

[2021-03-23 20:51] froboy opened #129 "Bug: openy_gc_auth_custom_update_8009 throws error"
https://github.com/ymcatwincities/openy_gated_content/blob/2d90ec5dd886224179f63d201541822b26e45342/modules/openy_gc_auth/modules/openy_gc_auth_custom/openy_gc_auth_custom.install#L155

When running `drush updb` I see:

[code]

`install` is missing from the `config_dir`.

[2021-03-23 20:52] sarah-halby commented on #106
Completed in 1.3 release.

[2021-03-23 20:52] #106 closed

[2021-03-23 20:52] sarah-halby commented on #100
Completed in 1.3 release.

[2021-03-23 20:52] #100 closed

[2021-03-23 20:53] sarah-halby commented on #104
Completed in 1.3 release.

[2021-03-23 20:53] #104 closed

[2021-03-24 15:04] sarah-halby commented on #86
Per conversation on Slack on 3/24, this issue can be closed. https://openy.slack.com/archives/C01715RK630/p1616570541056500?thread_ts=1615987969.002600&cid=C01715RK630

[2021-03-24 15:04] #86 closed

[2021-03-29 14:10] sarah-halby commented on #122
@TomScarboroughYMCA this was addressed with the VY 1.3 release. I'm going to close this ticket.

[2021-03-29 14:10] #122 closed

[2021-04-01 10:22] dchubar-fj opened #130 "Add an ability to control top menu items"
It would be nice to have the ability to control top menu items from the admin panel. Currently, we can disable the Livestreems component in settings, but the `Schedules` link still will be displayed in the top menu and confuse users.

[2021-04-02 21:06] froboy opened #131 ""More" button on dashboard should be more noticable"
Some users have reported not understanding that there are more videos than the ones listed on the homepage. Let's help them find them and also make the link more accessible, as folks with color blindness might not know "More" is a button since the link is only indicated by color and nothing else.

Before:
![Virtual_YMCA___Virtual_YMCA](https://user-images.githubusercontent.com/238201/113452896-948

[2021-04-05 15:48] sarah-halby commented on #131
@anpolimus - adding this to the backlog. Can you review when you have the chance?

[2021-04-05 16:45] TomScarboroughYMCA opened #132 "For Virtual Y sites using Y-USA Provider, members with updated Daxko barcodes cannot log into the VY site."
For Virtual Y sites that manage their members in Daxko and also use the Y-USA Provider to authenticate users, when members get a new Daxko barcode and they attempt to log in with that barcode, they will see the "White screen of death" with error message "The website encountered an unexpected error. Please try again later."

**Repro steps:**
Existing Daxko user gets a new barcode, but still has the

[2021-04-05 18:33] sarah-halby commented on #63
@froboy can you please review and verify per the comment above? We don't want to spend time on this for 1.4 if your issue is already addressed.

[2021-04-05 18:47] sarah-halby commented on #85
This issue was resolved with the ReClique SSO in VY 1.3.

[2021-04-05 18:47] #85 closed

[2021-04-05 19:06] sarah-halby commented on #125
@rdwash did increasing the display limit on your local environment fix this issue? If so, what did you update the limit to?

[2021-04-05 19:07] sarah-halby commented on #115
Fixed in 1.2.4

[2021-04-05 19:07] #115 closed

[2021-04-06 15:34] rdwash commented on #125
@sarah-halby yes increasing the limit worked...we updated the limit to 100 to start.

[2021-04-06 19:44] sarah-halby commented on #125
Thanks for confirming @rdwash - I'm going to close this ticket as there is a workaround available for the community. I've added this enhancement to our backlog to adjust the default moving forward.

[2021-04-06 19:44] #125 closed

[2021-04-12 15:20] NightHunterSV opened #133 "VueJS app should correctly process dates, coming from the Drupal backend in the UNIX timestamp format"
There is a setting in Drupal, which controls the format of date values, coming from the backend when using REST or JSON API. For most sites, which development was started from Drupal 8.4, this setting is already set to output dates in the RFC3339 format, and this is correctly processed by the dayjs library, used in the VY VueJS app since 1.2.4. But there is another option, available through the co

[2021-04-20 17:34] TomScarboroughYMCA commented on #119
Per Scott and Avi, this search is date-only, so fix the help text to remove the timestamp from the date formatting.

[2021-04-23 13:39] froboy opened #134 "Warn or prevent users from unpublishing/deleting Virtual Y Login/Dashboard pages"
If a privileged user removes either the Virtual Y Login page or Virtual Y homepage they might accidentally break the site. We should warn users or prevent these actions.

YUSA discussed this and we decided to completely block users from _deleting_ these pages, but not do anything else, mostly for simplicity sake. It may be more desirable to present an interstitial **Are you sure you want to do thi

[2021-04-26 21:18] froboy commented on #63
@sarah-halby confirmed. I believe @anpolimus's fix above resolved the issue. I'm closing this issue and we can reopen if it comes back.

[2021-04-26 21:18] #63 closed

[2021-04-26 21:19] froboy commented on #47
#134 is related to this.

[2021-04-27 19:52] sarah-halby commented on #133
@anpolimus will this be included in the May 11, 1.4 VY release?

[2021-04-27 19:53] sarah-halby commented on #132
@anpolimus is this ready for the May 11 release in VY as well?

[2021-04-27 19:54] sarah-halby commented on #131
@froboy this will be closed on May 11 when this is included in the next major release.

[2021-04-27 20:01] sarah-halby commented on #129
@anpolimus which release was this merged to? 1.3 or 1.4?

[2021-04-29 14:16] TomScarboroughYMCA opened #135 "Cloning a recurring event does not set the roles correctly."
**Repro Steps**

- Log into Virtual Y site as a Site Owner
- Edit an Event
- Click the Clone tab
- After verifying form is complete, scroll to the bottom to observe no Virtual Y Permissions section present.
- Save the cloned event
- View the event in the Schedule
- Edit the cloned event, scroll down to view the Virtual Y Permissions.
- Note that Virtual YMCA and Virtual YMCA Premium roles are not

[2021-05-05 15:57] gianni-imagex opened #136 "VY video sort/view order setting doesn't apply to categories view"
The "Default view order" setting for Virtual Y videos doesn't apply to the category view, screenshots below.

**Reproduction steps:**
1. Log in to the VY sandbox as an admin
2. Open VY settings /admin/openy/virtual-ymca
3. Set Virtual Y Video default view order to By Date (New-Old) and save
4. Navigate to Categories /virtual-ymca#/categories and select a category
5. Select the Filter button and no

[2021-05-05 23:11] gianni-imagex commented on #136
I think this was addressed [here](https://openy.atlassian.net/browse/PRODDEV-234) so I'm closing this ticket.

[2021-05-05 23:11] #136 closed

[2021-05-12 16:30] froboy commented on #130
I'd propose adding to `/admin/openy/virtual-ymca` a section similar to the "Components Settings" fieldset in the "Virtual YMCA App Settings" fieldset:

- (draggable) Schedule
  - (checkbox) "Show on the VY Top Menu"
- (draggable) Favorites
  - (checkbox) "Show on the VY Top Menu"
- (draggable) Categories
  - (checkbox) "Show on the VY Top Menu"
- (draggable) Sign out
  - (checkbox) "Show on the VY

[2021-05-13 02:24] bharath-kondeti commented on #130
@froboy, I have started to work on this issue.

[2021-05-13 08:07] anpolimus commented on #130
@froboy since that is a classic menu, it is better to store it at the drupal menu. We can create Virtual Y menu and put links there.
To do that there is a small problem. In D9 all menu links are cutting content after `#` sign which is VY router.

[2021-05-21 15:22] froboy opened #139 "Shared Content "Virtual Y video" tab should be default"
Navigating to Virtual Y > Shared Content > Fetch brings up the "Virtual Y blog post" tab by default, which is confusing because there's very little content on that page. The "Virtual Y video" tab should be the default.

![Shared_content](https://user-images.githubusercontent.com/238201/119160676-1fc93f80-ba1e-11eb-8eb5-0342c79e3c8d.png)

[2021-05-27 19:44] TomScarboroughYMCA opened #140 "Virtual Y + Y-USA Auth: Staff roles with emails in NWM gain access without password on normal landing page login"
**Repro Steps**

Using the production North Penn Virtual Y site, which authorizes members using Y-USA Authentication:

- Locate a staff member (Site Owner and/or Virtual YMCA Editor roles) with an email address registered within Nationwide Membership.  Example: bills@northpennymca.org
- Attempt a login with this email address on the Virtual Y Login landing page.
- That user will be authorized and

[2021-06-01 18:42] sarah-halby commented on #101
@froboy was this fixed in the PR? :-)

[2021-06-01 19:00] sarah-halby commented on #59
@TomScarboroughYMCA have you had a chance to review @hamrant solution? If so, does it fully solve your issue to close out this ticket?

[2021-06-01 19:29] TomScarboroughYMCA commented on #59
HI @sarah-halby and @hamrant - I apologize for letting this slip through the cracks for so long. Since the time this issue was opened I have worked closely with our Y's to get their CSV files correct. They in turn have been pretty quick to contact me/Y Cloud support when they hit any problems with the member CSV. So this can be closed out without spending any further effort. Many thanks to @hamran

[2021-06-01 19:29] #59 closed

[2021-06-01 20:56] sarah-halby commented on #59
Thanks @TomScarboroughYMCA - I'm glad that another solution presented itself. :-)

[2021-06-01 20:56] #65 closed

[2021-06-01 21:02] sarah-halby commented on #139
@gianni-imagex could you please get this added as a ticket in Jira? It looks like Anastasiia and Anatoliy have already tested it, but I want to make sure the master test plan gets updated. Please add the Jira ticket link to the comments for reference.

[2021-06-01 21:38] gianni-imagex commented on #139
@sarah-halby Yep, we have a ticket here: https://openy.atlassian.net/browse/PRODDEV-358
It was assigned to Stacey this morning for addition to the master test plan.

[2021-06-02 10:08] anpolimus opened #141 "Make stream autoplay configurable."
In our last release, we've hard-coded the initial state of the stream to pause.
https://github.com/ymcatwincities/openy_gated_content/commit/df558cbce57bd94dbfed731e23966ff0b2392030

It was done for the log feature. Click on the play button fires stream start action in the Virtual Y log system.

Many of our Y's had video streams in auto play mode by default and are upset now.

For now, we can writ

[2021-06-02 17:10] gianni-imagex commented on #141
https://openy.atlassian.net/browse/PRODDEV-362

[2021-06-08 19:40] sarah-halby commented on #135
@anpolimus was this included in 1.4 or should this be added to 1.4.1?

[2021-06-08 19:41] sarah-halby commented on #133
@anpolimus any update on this ticket? cc @gianni-imagex

[2021-06-08 19:42] #131 closed

[2021-06-09 11:49] anpolimus commented on #133
@NightHunterSV please double check. I thought, we have fixed it in 1.3

[2021-06-09 11:50] anpolimus commented on #135
@sarah-halby it was in 1.4

[2021-06-09 11:52] NightHunterSV commented on #133
@anpolimus, right, the issue now resolved in the linked PR: https://github.com/fivejars/openy_gated_content/pull/309
cc @sarah-halby

[2021-06-14 16:55] sarah-halby commented on #140
@anpolimus can you take a look at the PR please so we can discuss on 6/15? @gianni-imagex can you please add this to our agenda for tomorrow and ensure there is a Jira ticket for this issue?

[2021-06-14 16:56] sarah-halby commented on #139
Thank you @gianni-imagex this will be in the 1.4.1 release.

[2021-06-14 16:56] #139 closed

[2021-06-14 16:56] #135 closed

[2021-06-14 16:57] sarah-halby commented on #133
Thank you @NightHunterSV & @anpolimus - closing this ticket.

[2021-06-14 16:57] #133 closed

[2021-06-14 16:58] sarah-halby commented on #129
@anpolimus was this included in 1.3 or 1.4?

[2021-06-14 16:59] sarah-halby commented on #119
This was included in the 1.4 release in May 2021.

[2021-06-14 16:59] #119 closed

[2021-06-14 21:16] gianni-imagex commented on #140
Jira ticket for this issue: https://openy.atlassian.net/browse/PRODDEV-368 @sarah-halby @anpolimus

[2021-06-17 13:44] sarah-halby commented on #62
@froboy this will be included in the August 2021 release. If you need it early - it's available via the PR above.

[2021-06-17 13:44] #62 closed

[2021-06-20 09:50] anpolimus commented on #129
@sarah-halby 1.4

[2021-06-22 14:48] TomScarboroughYMCA opened #142 "Vimeo: Support for Timecode feature"
**Description**

Vimeo has a Timecode feature that let's you start a video several seconds in by appending a tag to the video URL: "#t=_s" where "_" is a time, in this case, seconds denoted by the "s". So "#t=20s" appended to the end of the video URL would start the video 20 seconds in.

The below URL works great when put in a browser, but when added to the Virtual Y site, it doesn't work:

https:

[2021-06-22 21:39] sarah-halby commented on #129
Thank you @anpolimus - closing this ticket. Merged in the 1.4 (May 2021) release.

[2021-06-22 21:39] #129 closed

[2021-07-09 09:41] podarok opened #145 "jsonapi_image_styles can't be installed for Drupal core 9.0.x or and ^9.1 || ^9.2"
See  https://www.drupal.org/project/jsonapi_image_styles/issues/3213878

[2021-07-09 10:20] hamrant commented on #126
@rdwash I tried to reproduce this issue:
- Created Recurring event for March 2022
- Navigated on the schedule page to march (If you do this by arrows navigation it will be stuck on the October, so I used March 2022 timestamp in the URL - `/virtual-ymca#/schedule?startDate=1647756000000`)

So this is how it looks for my timezone:

![Screenshot from 2021-07-08 18-11-26](https://user-images.githubuse

[2021-07-09 12:10] anpolimus commented on #145
Got it. Thanks

[2021-07-12 15:27] sarah-halby commented on #126
@froboy copying you on this ticket - please take a look at @hamrant update.

[2021-07-14 07:42] podarok commented on #145
https://www.drupal.org/project/jsonapi_image_styles/issues/3223536 please, support with RTBC @hamrant @anpolimus

[2021-07-15 15:50] froboy opened #146 "Personal training module missing STUN server info"
https://github.com/ymcatwincities/openy_gated_content/blob/master/modules/openy_gc_personal_training/README.md#1on1-virtual-meetings-server-configuration

But the bullet that should have information about the STUN server is empty.

[2021-07-15 18:44] froboy commented on #101
This is resolved.

[2021-07-15 18:44] #101 closed

[2021-07-20 14:59] sarah-halby commented on #126
@rdwash & @froboy - pinging you again in regards to the ticket and the discovery work that @hamrant has done so far.

[2021-07-20 16:05] froboy commented on #126
@hamrant @sarah-halby thanks for the testing. I'm fine closing this at this point. Apologies for the long delays.

[2021-07-20 16:05] #126 closed

[2021-07-20 16:07] sarah-halby commented on #126
Thanks @froboy I'll move the Jira ticket to the backlog, just in case this resurfaces later this year. Then we'll have the testing notes for reference.

[2021-07-22 13:20] NightHunterSV opened #147 "Add check the code is run on the Node entity page"
We should check before, that the node is a Drupal\node\NodeInterface, or, at least, FieldableEntityInterface.
We've got the error on this string at some project, where the route's 'node' parameter is a string.

https://github.com/ymcatwincities/openy_gated_content/blob/50dfae4a8970cceb8529612f6c29dad849296d78/openy_gated_content.module#L112

[2021-07-22 13:32] anpolimus commented on #147
@NightHunterSV thank you.
You are totally right.

[2021-07-22 18:28] sarah-halby commented on #147
@anpolimus what is the estimate for this fix and what are the next steps?

[2021-07-22 18:32] sarah-halby commented on #145
@anpolimus & @hamrant what are the next steps for this? Is it ready to be added to a release or should we hold? cc @KylieAldridge

[2021-07-23 08:51] hamrant commented on #145
@sarah-halby in this issue - https://www.drupal.org/project/jsonapi_image_styles/issues/3223536  @podarok requested Co-maintainer access to the `jsonapi_image_styles` project.

Next step, merge this patch - https://www.drupal.org/project/jsonapi_image_styles/issues/3213878 (possible only with maintainer role)

[2021-07-23 14:15] sarah-halby commented on #145
@hamrant Got it - thank you for the clarification. :-) We'll wait until we hear from @podarok about the maintainer request and release a point release if necessary. @shelleygoetz - if this isn't in Jira, could you please add it for tracking purposes?

[2021-07-26 13:21] anpolimus commented on #147
@sarah-halby we will do it in scope of our current ticket.

[2021-07-26 17:30] anpolimus commented on #147
@sarah-halby here is the fix ^^

[2021-07-29 18:44] sarah-halby commented on #147
@anpolimus & @hamrant are we good to close this ticket then?

[2021-07-29 18:45] sarah-halby commented on #116
This was completed in March 2021. I am closing this ticket.

[2021-07-29 18:45] #116 closed

[2021-07-30 08:12] hamrant commented on #147
@sarah-halby yep

[2021-07-30 08:12] #147 closed

[2021-07-30 14:20] sarah-halby commented on #145
@podarok & @hamrant here is the corresponding Jira ticket: https://openy.atlassian.net/browse/PRODDEV-404

[2021-08-10 09:27] AndreyMaximov opened #148 "Status report shows mismatched entity and field definitions"
The storage doesn't seem to be properly provisioned.

On the Virtual Y websites (`openy_gated_content` versions `1.2.4`, `1.3`) the following messages appear in the status report
![image](https://user-images.githubusercontent.com/5453109/128842482-c359790d-63d8-4ee1-802e-61c1856dc192.png)

That seems to be related to the upgrade path. The websites experiencing the issue were upgraded from earlier

[2021-08-10 10:17] podarok commented on #145
Fixed https://www.drupal.org/project/jsonapi_image_styles/releases/2.0.0-beta3

[2021-08-10 10:17] #145 closed

[2021-08-11 19:22] froboy commented on #148
This issue has existed since November, as per [this Slack thread](https://openy.slack.com/archives/C01715RK630/p1604356096165700) and possibly [even earlier](https://openy.slack.com/archives/C6G4ZTLVC/p1602702907205000).

[2021-08-13 14:38] anpolimus commented on #148
A ticket was raised for this issue: https://openy.atlassian.net/browse/PRODDEV-411

[2021-08-13 14:39] anpolimus commented on #146
Since @froboy prepared a fix and it was merged in 1.5 we can close it.

[2021-08-13 14:39] #146 closed

[2021-08-13 14:39] anpolimus commented on #146
@froboy thank you again!

[2021-08-13 14:40] anpolimus commented on #141
Since Jira ticket is closed, we can close this issue.

[2021-08-13 14:40] #141 closed

[2021-08-13 14:43] anpolimus commented on #132
We can close it since PR was merged and released.

[2021-08-13 14:43] #132 closed

[2021-08-13 14:45] anpolimus commented on #120
It was fixed in https://github.com/fivejars/openy_gated_content/pull/332
We can close it.

[2021-08-13 14:45] #120 closed

[2021-08-13 14:47] anpolimus commented on #76
@froboy is it still an issue ar we can close it?

[2021-08-13 14:48] anpolimus commented on #75
PR's were merged. Closing this ticket.

[2021-08-13 14:48] #75 closed

[2021-08-18 13:00] TomScarboroughYMCA opened #151 "In Virtual Y, the "More ->" link is displayed for a Video category even if <= 8 videos exist for that category."
In Virtual Y, the "More ->" link is displayed for a Video category even if <= 8 videos exist for that category. This is observable in the [Carnation sandbox site](https://sandbox-carnation-std-virtual-y.openy.org/) when viewing the [Barre category](https://sandbox-carnation-std-virtual-y.openy.org/virtual-ymca#/category/e5e34d07-ae65-43d5-ba1d-0f835857da28), which contains a single video but still

[2021-08-18 16:43] TomScarboroughYMCA opened #152 "Virtual Y: Archived logs do not record the name of content viewed"
The current version of Virtual Y's logging does not include Content Title information in the exported log file.

**Repro Steps**

- Sign into a Virtual Y site migrated to the latest version (VY YCloud 0.12.1), such as Kenosha (https://kenoshaymca.y.org/) as of 8/18/2021.
- View the activity recorded in the online logs at Manage > Virtual Y > Logs.
- Create a new log export to capture today's activ

[2021-08-23 20:18] sarah-halby commented on #151
@shelleygoetz could you get a ticket added to the VY backlog for this issue and add the Jira ticket link here, please?

[2021-08-23 20:20] sarah-halby commented on #152
This has been QA'd and added to the master test plan. https://openy.atlassian.net/browse/PRODDEV-421 - this will be included in the 1.5.1 point release.

[2021-09-09 18:28] sarah-halby commented on #152
@TomScarboroughYMCA this was included in the point release on 9/7. I'm closing this ticket.

[2021-09-09 18:28] #152 closed

[2021-09-09 18:54] sarah-halby commented on #148
@froboy this was completed in the VY 1.5.1 point release on 9/7

[2021-09-09 18:54] #148 closed

[2021-09-13 19:38] sarah-halby commented on #151
@TomScarboroughYMCA here is the PR link: https://github.com/fivejars/openy_gated_content/pull/386 - this will be released in the next release in November (if we do a point release before then, it will be included earlier). Please grab it if you and your clients want it sooner. :-)  Closing this ticket.

[2021-09-13 19:38] #151 closed

[2021-09-16 19:51] TomScarboroughYMCA opened #156 "Virtual Y Activity Log displays date in Euro format"
**Repro steps:**

- Login to any Virtual Y site, including sandbox sites, as Site Owner or Administrator.
- (Notes the sandbox sites need the Open Y Virtual YMCA Log module installed.)
- Navigate to Virtual Y logs at Manage > Virtual Y > Logs.
- Note the date for each line of logged content is in the US format - MM/DD/YYYY
- Navigate to the Virtual Y Activity logs at Manage > Virtual Y > Logs > Ac

[2021-09-21 14:21] anpolimus opened #157 "Error at hook_update during attempt to update to 1.5.1"
Hi.
We have an issue at hook_update from the last release.
`openy_gated_content_update_8018` fails during an attempt to update D9 project from 1.4 to the 1.5.1

[error]  Argument 2 passed to Drupal\Core\Field\FieldStorageDefinitionListener::onFieldStorageDefinitionUpdate() must implement interface Drupal\Core\Field\FieldStorageDefinitionInterface, null given, called in /var/www/docroot/core/lib/Dr

[2021-09-21 20:22] sarah-halby commented on #156
@shelleygoetz can you please open a Jira ticket for this issue so that when the PR is ready we can assign it to Anatoliy for review and then Anastasiia for testing & QA?

[2021-09-23 15:09] shelleygoetz commented on #157
Issue was added to Jira here: https://openy.atlassian.net/browse/PRODDEV-450

[2021-09-23 15:13] shelleygoetz commented on #156
@sarah-halby Jira issue created here: https://openy.atlassian.net/browse/PRODDEV-452

[2021-09-23 15:24] shelleygoetz commented on #76
@froboy is this still an issue or can it be closed?

[2021-09-23 20:52] TomScarboroughYMCA opened #158 "Virtual Y: Triangle YMCA (Personify) members see Try Again with Inactive User error after auto-logout OR when attempting sign-in without signing out the prior day"
**Note: Y-USA is actively looking into this issue.

**Repro Steps**

1. Sign in to the Triangle YMCA Virtual Y (https://ymcatriangle.y.org/) using member credentials. (use Virtual Y - Triangle Personify Test Member from Team Password - https://app.teampassword.com/dashboard#account/317108).
2. Close the window without signing out.
3. The next day, use this same browser (not necessarily the same br

[2021-09-23 21:07] sarah-halby commented on #158
@TomScarboroughYMCA thanks for opening a ticket and for the outline of the issue. What version of VY is Triangle on?

[2021-09-23 21:08] sarah-halby commented on #158
@shelleygoetz please create a ticket in Jira and hold on assigning for the moment while Y USA is investigating. Please tag to the next VY release.

[2021-09-24 15:01] shelleygoetz commented on #158
@sarah-halby Jira ticket created: https://openy.atlassian.net/browse/PRODDEV-453

[2021-10-04 18:17] sarah-halby commented on #157
This went out for the 1.5.2 point release last week. Closing this ticket.

[2021-10-04 18:17] #157 closed

[2021-10-19 14:47] TomScarboroughYMCA opened #163 "Virtual Y: With Y-USA Provider, members with same first name and last name cannot authenticate with barcode"
**Note: Y-USA is actively looking into this issue.

**Repro Steps**

Using the example situation from Salesforce support ticket 00138120 from YMCA of South Hampton Roads, when a Virtual Y site uses Y-USA Provider, and they have multiple members with the same first and last names, only one of those members will get authenticated to the Virtual Y. The others will see a generic error at login, and th

[2021-10-19 14:48] TomScarboroughYMCA commented on #163
Test data expanded:

{
"Barcode": "5252083",
"Email": "pmarebear67@hotmail.com",
"FirstName": "Mary",
"LastName": "Bennett",
}
{
"Barcode": "5577444",
"Email": "Mc58bennett@gmail.com",
"FirstName": "Mary",
"LastName": "Bennett",
}
{
"Barcode": "30044273809",
"Email": "ghill7107@yahoo.com",
"FirstName": "Mary",
"LastName": "Bennett",
}

[2021-10-25 14:28] froboy opened #166 "Day of Week labels shifted on week of DST change"
![Virtual_YMCA___Drush_Site-Install](https://user-images.githubusercontent.com/238201/138714341-8174955b-c842-4566-bc7d-a6b62ec0b44a.png)

Guess who's back, back again. DST is back, tell your friends.

To reproduce:

- Visit https://sandbox-carnation-std-virtual-y.openy.org
- Log in
- Go to the Schedule
- Advance the weeks to November 7

[2021-11-03 19:18] TomScarboroughYMCA opened #168 "Open Y: For Alerts, the "Hide for the listed pages" option does not work for pages listed with "/pagename""
**Repro steps**

- Log into the Carnation Open Y sandbox site, at https://sandbox-carnation-std.openy.org/
- Create a new Alert
- In the Visibility pages text box, specify "/about" followed by "<front>" while leaving the "Show for the listed pages" option selected.
- Save
- Observe that the alert is displayed on the home page and the About page, but on no other pages. This is working correctly.
-

[2021-11-03 19:49] #168 closed

[2021-11-03 19:49] TomScarboroughYMCA commented on #168
I'm an idiot and opened this ticket in the wrong area. Sorry! Please ignore.

[2021-11-04 14:07] KylieAldridge commented on #163
@kairamkondarajesh  This PR didn't pass, are you still working on this?

cc @TomScarboroughYMCA

[2021-11-04 19:11] sarah-halby commented on #142
@TomScarboroughYMCA this has passed QA. It will be put in the distribution for the December point release. If your team needs it, you have the PR ready to go. Once the PR is closed, we can close this ticket.

[2021-11-04 19:13] TomScarboroughYMCA commented on #142
Thank you @sarah-halby !

[2021-11-11 16:07] sarah-halby commented on #166
This was resolved in the 1.6 VY updated on Nov 9.

[2021-11-11 16:07] #166 closed

[2021-11-11 16:31] anpolimus opened #171 "Replace deprecated node-sass package on the APP."
Hi.
`node-sass` package is deprecated.
We have to migrate to sass compiler.
https://github.com/ymcatwincities/openy_gated_content/blob/master/js/gated-content/package.json#L43

Here is an information about that.
https://www.npmjs.com/package/node-sass

[2021-11-11 16:33] sarah-halby commented on #171
@shelleygoetz please open a Jira ticket for this issue in the prod dev board.

[2021-11-11 16:37] sarah-halby commented on #142
This has passed QA and the patch is available now. It will be released in the Dec point release.

[2021-11-11 16:37] #142 closed

[2021-11-12 16:02] shelleygoetz commented on #171
@sarah-halby Jira ticket added: https://openy.atlassian.net/browse/PRODDEV-482

[2021-11-18 09:38] anpolimus commented on #130
@sarah-halby we dont have it now. All links are static now.

[2021-11-23 16:08] sarah-halby commented on #163
@kairamkondarajesh are you still working on this issue? cc @TomScarboroughYMCA

[2021-11-23 16:09] sarah-halby commented on #130
@anpolimus does that mean we can close this issue or do we need to create a ticket for prioritization in Jira?

[2021-11-24 01:08] kairamkondarajesh commented on #163
@sarah-halby I am just trying to configure the Y-USA auth settings. I will let you once I configured the Y-USA auth settings.

[2021-11-24 15:40] hamrant commented on #125
The issue was fixed in https://github.com/fivejars/openy_gated_content/pull/320 by switching from JSON API to a custom controller for schedule page

cc @sarah-halby @rdwash

[2021-12-07 15:40] sarah-halby commented on #163
@TomScarboroughYMCA this has been through testing and QA. It will be included in the 1.6.1 release later in December 2021.

[2021-12-07 15:40] #163 closed

[2021-12-07 15:41] sarah-halby commented on #171
This will be added to the VY 1.6.1 release later in December.

[2021-12-07 15:41] #171 closed

[2021-12-07 15:45] TomScarboroughYMCA commented on #163
Thank you!!

[2021-12-24 10:08] anluh opened #174 "Secondary menu mobile humburger dont works for all users (at least rose & lily theme)"
![image](https://user-images.githubusercontent.com/15194012/147343462-9bd768a1-fada-4323-9300-19c8be803c2d.png)

[2022-01-25 10:22] dmytrolavrinenko opened #176 "Virtual Y Favorites issue if there are more than 110 favorited items"
YNorth has received several reports of the issues with the Favorites section that appears broken if there are more than 110 favorited items.

Steps to reproduce:
1. Login with Virtual Y account
2. Proceed to the Videos section and add 110 items to Favorites by clicking the heart icon
3. Proceed to the Favorites section and verify that all the items are displayed

Current result: the Favorites sect

[2022-01-28 17:15] froboy opened #177 "Virtual Y entities bundle field map not rebuilt"
See [Provide some way to rebuild the persistent bundle field map](https://www.drupal.org/project/drupal/issues/3129179). Since `entity-update` is no longer automatic, modules need to provide their own updates. The lack of this update can lead to missing values in `key_value:entity.definitions.bundle_field_map`, leading to broken Views among other issues.

[2022-02-02 11:17] anpolimus opened #186 "Drupal 9.3 CodeStandard issues"
------ -------------------------------------------------------------------------------
  Line   modules/openy_gc_auth/modules/openy_gc_auth_custom/src/Form/ImportCsvForm.php
 ------ -------------------------------------------------------------------------------
  142    Call to deprecated function file_move():
         in drupal:9.3.0 and is removed from drupal:10.0.0. Use
           \Drupal\file\

[2022-02-11 14:24] anpolimus commented on #186
Fixed in the last release
https://github.com/ymcatwincities/openy_gated_content/releases/tag/1.6.2

[2022-02-11 14:24] #186 closed

[2022-06-10 10:26] manachynskyi opened #190 "Webform compatibility on php 8.1"

[2022-06-10 12:09] podarok commented on #190
@froboy check this one

was added in https://github.com/fivejars/openy_gated_content/pull/418#issuecomment-983706672